/* Estilos para el modo oscuro */
.dark-mode {
  background-color: #222;
  color: #fff;
}

/* Estilos para el modo claro */
.light-mode {
  background-color: #fff;
  color: #222;
}

.selected {
  background-color: #cdcbcb72; /* Color de fondo para el elemento seleccionado */
  border-radius: 15px;
}

.custom-submenu > .ps-submenu-content {
  background-color: transparent !important;
}

.custom-submenu {

}

.custom-submenu .ps-menuitem-root {
  background-color: transparent;
}

.custom-submenu .ps-menuitem-root.selected {
  background-color: #cdcbcb72;
}

.custom-submenu .ps-menuitem-root:hover,
.custom-submenu .ps-menuitem-root:hover .ps-menu-button {
  background-color: #335B8C;
  color: #fff;
  border-radius: 15px;
}
