/*Body.css*/
.header {
  position: fixed; /* Hace que el encabezado sea fijo */
  z-index: 1; /* Asegura que el encabezado esté por encima del contenido */
  /*Centrar en medio de la pagina dependiendo de si la sidebar esta oculta o ni*/
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4.5%;
  background-color: transparent;

}


.sidebar {
  position: fixed; /* Hace que la barra lateral sea fija */
  top: 0;
  z-index: 1; /* Asegura que la barra lateral esté por encima del contenido */
}

.content-container > .content,
.content-container > .sidebar {
  margin-top: 4%;
  margin-left: 1%
}


.content-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.content {
  flex-grow: 1;
  overflow-y: auto; /* Agrega scroll vertical solo al contenido */
}


/* Estilos para el modo oscuro */
/* Sideabar */
.dark-mode {
  color: #222;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #222;
}

.selected {
  background-color: #cdcbcb72;
  border-radius: 15px;
}

.custom-submenu > .ps-submenu-content {
  background-color: transparent !important;
}

.custom-submenu .ps-menuitem-root {
  background-color: transparent;
}

.custom-submenu .ps-menuitem-root.selected {
  background-color: #53535372;
}

.custom-submenu .ps-menuitem-root:hover,
.custom-submenu .ps-menuitem-root:hover .ps-menu-button {
  background-color: #335B8C;
  color: #fff;
  border-radius: 15px;
}

/* Agregar Usuario */
.nextui-c-cwdhZi {
  font-size: 0.9rem;
}


/* Login */
.nextui-c-eXOOPO {
  background: #bebdbd;
}

.dark-mode .nextui-c-eXOOPO {
  background: rgb(34, 34, 34);
}

.nextui-c-jeuecp {
  padding: 0px;
  font-size: var(--nextui--inputFontSize);
  background: transparent;
  border: none;
  color: var(--nextui--inputTextColor);
  border-radius: 0px;
  outline: none;
  width: 100%;
  height: 100%;
  min-width: 0px;
  appearance: none;
}

/* NavBar */
.nextui-c-hhqfap-ieXAFca-css {
  background: transparent;
}

.nextui-c-hhqfap-gqZKcP-disableBlur-false .nextui-c-egxOLa {
background: rgb(236, 236, 236);

}
.dark-mode .nextui-c-hhqfap-gqZKcP-disableBlur-false .nextui-c-egxOLa {
background: rgb(65, 65, 65);

}

.nextui-c-jTSrtu-kYKDGo-cv {
background-color: #b1b0b0;
color: #222222;
}

.dark-mode .nextui-c-jTSrtu-kYKDGo-cv {
background-color: #222222;
color: #fff;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 83.7%;
  padding: 0px;
  text-align: center;
}

.footer-container p {
  font-size: 12px;
}

/* Modal */
.nextui-c-bvsQQD {
  color : #000000;
}

.dark-mode .nextui-c-bvsQQD {
  color : #ffffff;
}


.nextui-c-eXOOPO-gvlAwB-disabled-true {
  cursor: not-allowed;
  background: #e6d6d6;
  -webkit-text-fill-color: black;
}
.dark-mode .nextui-c-eXOOPO-gvlAwB-disabled-true {
  cursor: not-allowed;
  background: #6d6363;
  -webkit-text-fill-color: white;
}





/* Notificaciones */
.Toastify__toast--success {
  border-radius: 20px !important;
  background: #f9f9f9 !important;
  color: #000000 !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;
}

.dark-mode .Toastify__toast--success {
  border-radius: 20px !important;
  background: #222222 !important;
  color: #ffffff !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;

}


.Toastify__toast--success::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}

.Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}

.Toastify__toast--error {
  border-radius: 20px !important;
  background: #f9f9f9 !important;
  color: #000000 !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;
  
}

.dark-mode .Toastify__toast--error {
  border-radius: 20px !important;
  background: #222222 !important;
  color: #ffffff !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;
  
}

.Toastify__toast--error::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}

.Toastify__toast--error::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}

.Toastify__toast--warning {
  border-radius: 20px !important;
  background: #f9f9f9 !important;
  color: #000000 !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;
}

.dark-mode .Toastify__toast--warning {
  border-radius: 20px !important;
  background: #222222 !important;
  color: #ffffff !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;
}

.Toastify__toast--warning::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}

.Toastify__toast--warning::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}

.Toastify__toast--info {
  border-radius: 20px !important;
  background: #f9f9f9 !important;
  color: #000000 !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;
}

.dark-mode .Toastify__toast--info {
  border-radius: 20px !important;
  background: #222222 !important;
  color: #ffffff !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;
}

.Toastify__toast--info::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}

.Toastify__toast--info::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}

.Toastify__toast--default {
  border-radius: 20px !important;
  background: #f9f9f9 !important;
  color: #000000 !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;
}

.dark-mode .Toastify__toast--default {
  border-radius: 20px !important;
  background: #222222 !important;
  color: #ffffff !important;
  font-size: 17px;
  width: auto !important;
  max-width: 90%; /* Puedes ajustar el porcentaje según tus necesidades */
  white-space: normal;
  word-wrap: break-word;
}

.Toastify__toast--default::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}

.Toastify__toast--default::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}

.Toastify__toast-body {
  padding: 0px !important;
}

.Toastify__close-button {
  position: absolute;
  right: 10px;
  top: 30%;
  color: #000000 !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.dark-mode .Toastify__close-button {
  position: absolute;
  right: 10px;
  top: 30%;
  color: #ffffff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.Toastify__close-button--default {
  color: #000000 !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.dark-mode .Toastify__close-button--default {
  color: #ffffff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.Toastify__close-button--error {
  color: #000000 !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.dark-mode .Toastify__close-button--error {
  color: #ffffff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.Toastify__close-button--success {
  color: #000000 !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.dark-mode .Toastify__close-button--success {
  color: #ffffff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.Toastify__close-button--warning {
  color: #000000 !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.dark-mode .Toastify__close-button--warning {
  color: #ffffff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.Toastify__close-button--info {
  color: #000000 !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}

.dark-mode .Toastify__close-button--info {
  color: #ffffff !important;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
}