.layout {
  height: 85vh;
    display: grid;
    grid:
      "usuariosPrestamistas usuariosAfiliados UsuariosTotales" auto
      "ingresos ultimosUsuarios ultimosUsuarios" auto
      / 33% 33% 33%;
  }
  
  .usuariosPrestamistas { grid-area: usuariosPrestamistas;}
  .usuariosAfiliados { grid-area: usuariosAfiliados; }
  .UsuariosTotales { grid-area: UsuariosTotales;  }
  .ingresos { grid-area: ingresos; }
  .ultimosUsuarios { grid-area: ultimosUsuarios;  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .center-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -30px;
  }


  .card{
    width: 98%;
    min-height: 300px;
  }

  .card-bottom{
    width: 98.5%;
    min-height: 300px;
  }

  .body{
    margin-top: -5%;
  }


  .ingresos{
    font-size: 2.5rem;

  }

