.layout {
  height: 85vh;
    display: grid;
    grid:
      "usuariosPrestamistas usuariosAfiliados UsuariosTotales" 40%
      "ingresos topAfiliados otro" 60%
      / 33% 33% 33%;
  }
  
  .usuariosPrestamistas { grid-area: usuariosPrestamistas;}
  .usuariosAfiliados { grid-area: usuariosAfiliados; }
  .UsuariosTotales { grid-area: UsuariosTotales; }
  .ingresos { grid-area: ingresos; }
  .topAfiliados { grid-area: topAfiliados; }
  .otro { grid-area: otro; }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .card{
    width: 90%
  }

  .body{
    margin-top: -5%;
  }

