.nextui-c-eXOOPO {
    background: rgb(211, 211, 211);
}
  
.dark-mode-navbar .nextui-c-eXOOPO {
    background: rgb(34, 34, 34);
}

.nextui-c-hhqfap-ieXAFca-css {
    background: transparent;
}

.nextui-c-hhqfap-gqZKcP-disableBlur-false .nextui-c-egxOLa {
  background: rgb(236, 236, 236);
  
}
.dark-mode-navbar .nextui-c-hhqfap-gqZKcP-disableBlur-false .nextui-c-egxOLa {
  background: rgb(65, 65, 65);
  
}

.nextui-c-jTSrtu-kYKDGo-cv {
  background-color: #d3d3d3;
  color: #222222;
}

.dark-mode-navbar .nextui-c-jTSrtu-kYKDGo-cv {
  background-color: #222222;
  color: #fff;
}