.label{
    font-size: 1.2rem;
    color: rgb(44, 141, 244) !important;
}

.label-second{
    color: rgb(57, 134, 197) !important;

}

.title{
    margin-top: 1%;
    font-size: 2rem;
    justify-content: center;
    display: flex;
}

.card-main{
    margin-top: 0.5%;
    width: 100%;
}

.card-noti{
    width: 96%;
    margin: 2%;
}

.card-noti-header{
    display: flex;
    justify-content: space-between;
}

.card-noti-body{
    margin: -10px;
    margin-top: -20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.button-footer{
    margin: 0.5%;
}